.header-certified {
	padding: 20px 120px;
	background-color: #fff;

	.certified-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.certified-item {
		display: flex;
		align-items: center;
	}

	.image-wrapper {
		margin-right: 16px;
	}

	.text-wrapper {
		font-weight: 400;
		font-size: 15px;
		line-height: 1.2;
		letter-spacing: 0.6px;
		color: #A1A1A1;
	}

}
